<div>
	<%= form_for @user_profile, url:{ controller: :dashboard, action: :profile } do |f| %>
	<p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.submit :update %>
	</p>
	<% end %>
</div>