<!DOCTYPE html>
<html>
<head>
	<title>UnderTheHood</title>
	<%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div>
		Welcome <%= current_pass.user.username %>
		<%= link_to :Home, :dashboard_index%> 
		<%= link_to :Logout, :logout %> 
		<%= link_to :Settings, :settings%>
	</div>
	<div>
		<%= yield %>
	</div>
</body>
</html>
